body {
  margin: 0px;
  height: 100vh;
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #dadae0;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Semibold.ttf");
  font-weight: 500;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(204deg) brightness(99%) contrast(104%);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0px;
}

img[src^="icons"] {
  height: 1.5rem;
  padding: 0.25rem;
}

a:hover img[src^="icons"] {
  height: 2rem;
  padding: 0rem;
}

#sidebar {
  grid-row: 1 / 3;
  background-color: #25a7da;
  padding: 1.5rem;
  color: white;
}

#sidebar a {
  display: flex;
  width: fit-content;
  align-items: center;
}

#sidebar > a img {
  height: 3rem;
  padding: 0rem;
  margin-right: 1.5rem;
}

h1 {
  margin: 0px;
  width: fit-content;
}

#sidebar div {
  margin-top: 3rem;
}

#sidebar h2 {
  font-size: 1em;
  font-weight: 500;
  margin: 0em 0em 0em 1em;
}

#sidebar div a {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-top: 1.5rem;
}

#sidebar div a:first-child {
  margin-top: 0rem;
}

.profile-picture {
  border-radius: 50%;
}

#header {
  background-color: white;
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  align-items: center;
  padding: 16px 48px 16px 48px;
  box-shadow: 0px 4px 4px hsl(0, 0%, 75%);
}

#header > div, #header form, #header a, #header label, #trending > div{
  display: inline-grid;
  align-items: center;
  grid-auto-flow: column;
}

#header form {
  grid-template-columns: auto 1fr;
  gap: 1rem;
  padding-right: 1rem;
}

#header input {
  font-size: 1.25rem;
  background-color: #dadae0;
  border: none;
  border-radius: 1.125rem;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

#header input:focus {
  outline: none;
}

#header > div:nth-child(2) {
  grid-template-columns: 1fr auto auto auto;
  gap: 2rem;
}

#header > div:nth-child(2) .profile-picture {
  height: 3rem;
}

#header > div:nth-child(2) h2 {
  font-size: 1.5rem;
  padding-right: 1em;
}

#header > div:nth-child(3) {
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
}

#header > div:nth-child(3) .profile-picture {
  height: 4.5rem;
}

#header div div h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0px;
}

#header div div h2 {
  font-size: 1.75rem;
  margin: 0px;
}

#header > div:last-child {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

#header button {
  background-color: #25a7da;
  color: white;
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border: none;
  border-radius: 1.125rem;
}

#main {
  display: grid;
  grid-template: auto auto / 3fr 1fr;
  gap: 16px;
  padding: 24px 24px 48px 20px;
}

#main h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0px 0px 1rem 0px;
}

#main h3 {
  margin: 0px;
  font-weight: 500;
}

#main p {
  color: #babac5;
}

#main > div:first-child {
  grid-row: 1 / 3;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  gap: 16px;
}

.project {
  display: grid;
  grid-template-columns: 0.5rem 1fr;
  width: 25rem;
  height: 12.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.project, #announcements, #trending {
  box-shadow: 2px 4px 4px hsl(0, 0%, 75%);
}

.project > div:first-child {
  background-color:goldenrod;
}

.project > div:last-child {
  padding: 1.5rem 1.5rem 1.5rem 1rem;
  background-color: white;
  display: inline-grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "h" "p" "." "a";
}

.project h3 {
  grid-area: h;
}

.project p {
  grid-area: p;
}

.project .actions {
  display: inline-grid;
  grid-template-columns: 1fr auto auto auto;
  gap: 1.5rem;
  grid-area: a;
  grid-template-areas: ". f1 f2 f3";
}

.project .actions a:first-child {
  grid-area: f1;
}

.project .actions a:nth-child(2) {
  grid-area: f2;
}

.project .actions a:last-child {
  grid-area: f3;
}

#announcements {
  display: grid;
  grid-template-rows: 1fr auto auto auto 1fr;
  grid-template-areas: "." "a1" "a2" "a3" ".";
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
}

#announcements div {
  padding: 1rem 0rem 1rem 0rem;
  border-bottom: solid 1px #babac5;
}

#announcements div:first-child {
  padding-top: 0rem;
  grid-area: a1;
}

#announcements div:nth-child(2) {
  grid-area: a2;
}

#announcements div:last-child {
  padding-bottom: 0rem;
  border-bottom: none;
  grid-area: a3;
}

#announcements h3 {
  font-size: 0.85rem;
}

#announcements p {
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#trending {
  display: grid;
  gap: 0.625rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

#trending > div {
  grid-template-columns: auto auto 1fr;
  gap: 0.75rem;
}

#trending img {
  height: 3rem;
}

#trending h3, p {
  font-size: 0.85rem;
}
